.address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  font-size: 12px;

  .text {
    font-weight: 400;
    border-radius: 4px;
    color: #552fbc;
    background-color: #f2effb;
    padding: 8px;
    margin: 5px;
  }

  .base {
    padding: 1px 5px;
    margin: 3px;
    border-radius: 15px;
    border-width: 3px;
    border-color: red;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    border: 1px solid #f14668;
  }

  .button {
    color: red;
    background-color: white;
  }

  .button:hover {
    color: white;
    background-color: #f14668;
  }
}
