.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.primary {
  color: #00d1b2;
  background-color: #ebfffc;
}

.link {
  color: #485fc7;
  background-color: #eff1fa;
}

.info {
  color: #3e8ed0;
  background-color: #eff5fb;
}

.success {
  color: #48c78e;
  background-color: #effaf5;
}

.warning {
  color: #ffe08a;
  background-color: #fffaeb;
}

.danger {
  color: #f14668;
  background-color: #feecf0;
}

