.input {
  display: none;
}

.button {
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: calc(10px + 2vmin);
}

.button:hover {
  border: 1px solid #0bffa5;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}
