[Unit]
Description=A file transfer tool that can be used in the browser webrtc p2p
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/filegogo --config /etc/filegogo.toml server
Restart=always

[Install]
WantedBy=default.target
