.address {
  display: flex;
  flex-direction: row;

  .text {
    background-color: #f0c1ff;
    border-radius: 8px;
    color: #d800ff;
    padding: 3px;
    margin: 20px;
  }

  .button {
    padding: 3px;
    margin: 20px;
    border-radius: 18px;
    border-width: 3px;
    border-color: red;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white;
    color: red;
    border: 2px solid #f44336;
  }

  .button:hover {
    background-color: #f44336;
    color: white;
    padding: 3px;
    margin: 20px;
    border-radius: 18px;
    border-width: 3px;
    border-color: red;
    border: 2px solid #f44336;
  }
}
