.address {
  display: flex;
  flex-direction: row;
  padding: 20px;

  .text {
    font-size: 16px;
    font-weight: 400;
    background-color: #f0c1ff;
    border-radius: 8px;
    color: #d800ff;
    padding: 8px;
    margin: 5px;
  }

  .base {
    padding: 3px;
    margin: 2px;
    border-radius: 20px;
    border-width: 3px;
    border-color: red;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    border: 1px solid #f14668;
  }

  .button {
    color: red;
    background-color: white;
  }

  .button:hover {
    color: white;
    background-color: #f14668;
  }
}
